{% liquid
    assign product = block.settings.product
    assign default_variant = product.metafields.custom.default_variant.value

    assign current_variant = product.selected_or_first_available_variant
    assign subscription_url = product.metafields.custom.subscription_page_url.value.url
    assign one_time_variant = product.metafields.custom.one_time_purchase_variant.value
    assign total_measure = one_time_variant.unit_price_measurement.quantity_value | round
    assign default_total_measure = default_variant.unit_price_measurement.quantity_value | round
    assign max_qty = product.metafields.custom.maximal_pruchase_quantity

    assign default_price_per_item = 0
    assign onetime_price_per_item = one_time_variant.price | divided_by: total_measure


%}
 {% if product.selling_plan_groups.size > 0 %}
    <div class="shopify_subscriptions_app_container default-app-block" data-section-id='{{ section.id }}'>
        <script src="{{ 'app-block.js' | asset_url }}" defer></script>
        <link href="{{ 'styles.css' | asset_url }}" rel='stylesheet' type="text/css" />
        {% for variant in product.variants %}
            {% liquid
                assign variantPrice = variant.price | money | escape
                assign variantComparedAtPrice = variant.compare_at_price | money | escape
            %}
            {% if variant.selling_plan_allocations.size > 0 %}
                <section data-variant-id='{{ variant.id }}'
                         class='shopify_subscriptions_app_block {% if variant.id != current_variant.id %}shopify_subscriptions_app_block--hidden{% endif %}'>
                    <fieldset class="shopify_subscriptions_fieldset">

                        {% if default_variant %}
                            <div class="custom-sub-price">
                  <span class="price-per-items">
                    <strong class="total_measure">{{ default_total_measure }} Portionen </strong>
                     ( <span class="price-per-item">
                      {{ default_variant.unit_price | money }}
                    </span>
                    / Portion)
                  </span>

                                <span class="final-price">
                    {% if default_variant.compare_at_price > default_variant.price %}
                        <span class="old-price">
                        {{ default_variant.compare_at_price | money }}
                      </span>
                    {% endif %}

                    <span class="new-price">
                      {{ default_variant.price | money }}
                    </span>
                    <span class="price-description">
                      inkl. MwSt. zzgl. Versand
                    </span>
                  </span>
                            </div>
                        {% endif %}

                       <div class="box-data-default-app-items">
                           <div>

                               {% assign group_ids = variant.selling_plan_allocations | map: 'selling_plan_group_id' | uniq %}
                               {% for group_id in group_ids %}
                                   {% liquid
                                       assign group = product | map: 'selling_plan_groups' | where: 'id', group_id | first
                                       assign allocations = variant | map: 'selling_plan_allocations' | where: 'selling_plan_group_id', group_id

                                       if forloop.first
                                           assign first_selling_plan_group = true
                                       else
                                           assign first_selling_plan_group = false
                                       endif
                                   %}
                                   <div class='shopify_subscriptions_app_block_label active'
                                        style='border-bottom:{{ block.settings.border_thickness }} solid {{ block.settings.dividers_color }};'>

                                       <ul class='shopify_subscriptions_app_block_label_children'>
                                           {% for allocation in allocations %}

                                               {% liquid
                                                   assign allocationPrice = allocation.price | money | escape
                                                   assign default_price_per_item = allocation.price | divided_by: default_total_measure
                                                   if forloop.first
                                                       assign plan_checked = 'checked'
                                                   else
                                                       assign plan_checked = nil
                                                   endif

                                                   assign allocationComparedAtPrice = allocation.compare_at_price | money | escape
                                               %}

                                               <li>
                                                   <label>
                                                       <input
                                                               type='radio'
                                                               {% if variant.available == false %}disabled{% endif %}
                                                               aria-label='{{ allocation.selling_plan.name }}. Product price {{ allocationPrice }}'
                                                               name="purchaseOption_{{ section.id }}_{{ variant.id }}"
                                                               data-radio-type='selling_plan'
                                                               data-subscription-url='{{ subscription_url }}'
                                                               data-old-price='{{ default_variant.compare_at_price | money }}'
                                                               data-new-price='{{ allocationPrice }}'
                                                               data-per-item-price='{{ default_price_per_item | money }}'
                                                               data-selling-plan-id='{{ allocation.selling_plan.id }}'
                                                               data-total-measure='{{ default_total_measure }}'
                                                               data-selling-plan-group-id='{{ block.id }}_{{ group_id }}_{{ variant.id }}'
                                                               data-selling-plan-adjustment='{{ allocation.selling_plan.price_adjustments.size }}'
                                                               data-variant-price='{{ allocationPrice }}'
                                                               data-variant-compare-at-price='{{ allocationComparedAtPrice }}'
                                                               {{ plan_checked }}>
                                                       {% comment %}{{ allocation.selling_plan.name }}{% endcomment %}
                                                       {{ product.metafields.custom.headline_bulletpoints | metafield_tag }}
                                                       <span class="discount-text">
                                                        {{ product.metafields.custom.discount_batch_single_product | metafield_tag }}
                                                      </span>
                                                   </label>

                                                   <div class="more-info">
                                                       {{ product.metafields.custom.bulletpoint_monthly_subscription| metafield_tag }}
                                                   </div>

                                               </li>
                                           {% endfor %}
                                       </ul>
                                   </div>
                               {% endfor %}

                               {% unless product.requires_selling_plan %}
                                   <div class='shopify_subscriptions_app_block_label'
                                        style='border-bottom:{{ block.settings.border_thickness }}px solid {{ block.settings.dividers_color }};'>
                                       <label>
                                           <input
                                                   aria-label='{{ 'product.purchase_options.one_time_purchase' | t }}. Product price {{ variantPrice }}'
                                                   type='radio'
                                                   name="purchaseOption_{{ section.id }}_{{ variant.id }}"
                                                   {% if variant.available == false %}disabled{% endif %}
                                                   id='{{ block.id }}_one_time_purchase'
                                                   data-radio-type='one_time_purchase'
                                                   data-total-measure='{{ total_measure }}'
                                                   data-variant-id='{{ one_time_variant.id }}'
                                                   data-old-price='{{ one_time_variant.compare_at_price | money }}'
                                                   data-new-price='{{ one_time_variant.price | money }}'
                                                   data-per-item-price='{{ onetime_price_per_item | money }}'
                                                   data-variant-price='{{ variantPrice }}'
                                                   data-variant-compare-at-price='{{ variantComparedAtPrice }}'
                                           />
                                           {{ 'product.purchase_options.one_time_purchase' | t }}
                                       </label>
                                   </div>
                               {% endunless %}

                           </div>
                           <span
                                   id='subscriptions_badge_text'
                                   style='display: none;'
                                   aria-hidden='true'>
                              {{ 'product.purchase_options.subscription' | t }}
                            </span>
                       </div>
                    </fieldset>
                </section>
            {% endif %}
        {% endfor %}
    </div>
    <input
            name='selling_plan'
            class='selected-selling-plan-id'
            type='hidden'>
    <span id="shopify_subscriptions_app_block_error_message"
          class="shopify_subscriptions_app_block--hidden">{{ 'error.quick_add_selling_plan_only_message' | t }}</span>
{% else %}
    {% if request.design_mode %}
        <div class="shopify_subscriptions_warning_banner">
            <link href="{{ 'styles.css' | asset_url }}" rel='stylesheet' type="text/css" />
            <div class="shopify_subscriptions_warning_banner_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M9.99997 6.75C10.4142 6.75 10.75 7.08579 10.75 7.5V11C10.75 11.4142 10.4142 11.75 9.99997 11.75C9.58576 11.75 9.24997 11.4142 9.24997 11V7.5C9.24997 7.08579 9.58576 6.75 9.99997 6.75Z"
                          fill="#251A00" />
                    <path d="M11 13.5C11 14.0523 10.5523 14.5 10 14.5C9.44775 14.5 9.00003 14.0523 9.00003 13.5C9.00003 12.9477 9.44775 12.5 10 12.5C10.5523 12.5 11 12.9477 11 13.5Z"
                          fill="#251A00" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10.0001 3.5C8.95474 3.5 8.21619 4.20232 7.84765 4.94672C7.65568 5.33448 6.75987 7.0441 5.84308 8.79353L5.81534 8.84646C4.92293 10.5493 4.01717 12.2777 3.80719 12.702C3.43513 13.4537 3.32934 14.4519 3.89956 15.316C4.46914 16.1791 5.44225 16.5 6.3636 16.5L13.6364 16.5C14.5577 16.5 15.5309 16.1791 16.1005 15.316C16.6707 14.4519 16.5649 13.4537 16.1928 12.702C15.9832 12.2784 15.08 10.555 14.189 8.85476L14.1569 8.79352C13.24 7.044 12.3443 5.33454 12.1525 4.94693C11.784 4.20242 11.0455 3.5 10.0001 3.5ZM9.19193 5.61225C9.59608 4.79592 10.4041 4.79592 10.8081 5.61225C11.0102 6.02061 11.9201 7.75686 12.8297 9.49243C13.7383 11.2262 14.6466 12.9594 14.8485 13.3673C15.2525 14.1837 14.8485 15 13.6364 15L6.3636 15C5.15153 15 4.74749 14.1837 5.15153 13.3673C5.35379 12.9587 6.26471 11.2205 7.17483 9.4838C8.08286 7.75111 8.99008 6.01994 9.19193 5.61225Z"
                          fill="#251A00" />
                </svg>
            </div>
            <p class="shopify_subscriptions_warning_banner_text">{{ 'no_subscriptions_warning_banner.message' | t }}</p>
        </div>
    {% endif %}
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let addToCartButton = document.querySelector('.product--add-to-cart-button');
    if (!addToCartButton) return;

    addToCartButton.addEventListener('click', async function (e) {
      let selectedRadio = document.querySelector('input[type="radio"][data-radio-type="selling_plan"]:checked');
      if (selectedRadio) {
        const subscriptionUrl = selectedRadio.dataset.subscriptionUrl;
        if (subscriptionUrl) {
          e.preventDefault();
          window.location.href = subscriptionUrl;
        }
      } else {
        let oneTimeRadio = document.querySelector('input[type="radio"][data-radio-type="one_time_purchase"]:checked');
        if (!oneTimeRadio) return;
        e.preventDefault();

        let hasMore = await checkQty(oneTimeRadio.dataset.variantId, {{ max_qty }});
        if (hasMore) return;

        fetch('/cart/add.js', {
          method: 'POST',
          headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},
          body: JSON.stringify({ id: oneTimeRadio.dataset.variantId, quantity: 1 }),
          credentials: 'include'
        })
          .then(res => { if (!res.ok) throw new Error('Add to cart failed'); return res.json(); })
          .then(() => { window.location.href = '/checkout'; })
          .catch(err => console.error(err));
      }
    });

    // ===== Selection logic (fixed) =====
    const container = document.querySelector('.shopify_subscriptions_fieldset');
    if (!container) return;

    const blockSel = '.shopify_subscriptions_app_block_label';
    const radioSel = `${blockSel} input[type="radio"]`;

    // Guard to avoid recursive change -> selectOnly -> change loops
    let isProgrammatic = false;

    const clearAll = () => {
      document.querySelectorAll(radioSel).forEach(r => { r.checked = false; r.removeAttribute('checked'); });
      document.querySelectorAll(blockSel).forEach(b => b.classList.remove('active'));
    };

    const updatePriceBox = (el_target) => {
      // console.log(el_target);
      let old_price = el_target.dataset.oldPrice;
      let new_price = el_target.dataset.newPrice;
      let totalMeasure = el_target.dataset.totalMeasure;
      if(new_price == old_price) {
        old_price = '';
      }
      let compareAtPrice = el_target.dataset.variantCompareAtPrice;
      let per_item_price = el_target.dataset.perItemPrice;
      let el_old_price = document.querySelector('.final-price .old-price');
      let el_new_price = document.querySelector('.final-price .new-price');
      let el_per_item_price = document.querySelector('.custom-sub-price .price-per-item');
      let el_totalMeasure = document.querySelector('.price-per-items .total_measure');
      if (el_old_price) el_old_price.innerHTML = old_price;
      if (el_new_price) el_new_price.innerHTML = new_price;
      if (el_per_item_price) el_per_item_price.innerHTML = per_item_price;
      if (el_totalMeasure) el_totalMeasure.innerHTML = totalMeasure + ' Portionen';
      console.log(old_price,el_old_price,new_price,el_new_price,per_item_price,el_per_item_price);
    };

    // Select exactly one radio, once; optional emit if you really need downstream listeners
    const selectOnly = (radio, { emit = false } = {}) => {
      if (!radio) return;
      // if (radio.checked) return; // already selected → do nothing

      isProgrammatic = true;
      clearAll();
      radio.checked = true;
      radio.setAttribute('checked', '');
      radio.closest(blockSel)?.classList.add('active');
      console.log('select only');
      updatePriceBox(radio);
      // Avoid recursive loop; only emit if you really need it.
      if (emit) radio.dispatchEvent(new Event('input', { bubbles: true }));
      isProgrammatic = false;
    };

    // Click on block selects its radio (only if not already checked)
    container.addEventListener('click', (e) => {
      const block = e.target.closest(blockSel);
      if (!block) return;
      if (e.target.matches('input[type="radio"]')) return;
      const radio = block.querySelector('input[type="radio"]');
      if (radio && !radio.checked) selectOnly(radio);
      console.log('click');
    });

    // User-changes should not retrigger programmatic selection
    container.addEventListener('change', (e) => {
      if (isProgrammatic) return;
      const radio = e.target.closest('input[type="radio"]');
      if (!radio || !e.target.matches(radioSel)) return;
      // If the radio just became checked by the user, ensure exclusivity without emitting
      if (radio.checked) selectOnly(radio, { emit: false });
      console.log('change');

    });

    // Optional: initialize first visible option once (no emit)
    const first = container.querySelector(radioSel);
    if (first && !first.checked) selectOnly(first, { emit: false });


    setTimeout(()=>{
      // init first price box
      console.log("init price box",document.querySelectorAll('.shopify_subscriptions_app_block_label_children input[type="radio"]')[0].dataset.perItemPrice);
      document.querySelector('.final-price .new-price').innerHTML = document.querySelectorAll('.shopify_subscriptions_app_block_label_children input[type="radio"]')[0].dataset.variantPrice;
      document.querySelector('.custom-sub-price .price-per-item').innerHTML = document.querySelectorAll('.shopify_subscriptions_app_block_label_children input[type="radio"]')[0].dataset.perItemPrice;
    },100)

  });

</script>
<style>

    .shopify_subscriptions_app_block_label:not(.active) .more-info {
        height: 0;
        overflow: hidden;
        position: absolute;
    }

    /*price box */

    div[data-update-id="item-price"] {
        display: none;
    }

    .custom-sub-price {
        font-size: 15px;
        display: flex;
        margin-bottom: 30px;
    }

    .custom-sub-price .final-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 10px;
    }

    .custom-sub-price span.price-per-items {
        min-width: 210px;
    }

    .custom-sub-price .final-price .old-price {

        text-decoration: line-through;
        opacity: 0.4;
    }

    .custom-sub-price .final-price .price-description {
        font-size: 11px;
        width: 100%;
        text-align: right;
    }

    .shopify_subscriptions_purchase_option_wrapper {
        padding: 8px !important;
        padding-left: 20px !important;
        color: #004E42;
    }

    .shopify_subscriptions_purchase_option_wrapper label {
        display: flex;
        align-items: center;
        font-size: 15px !important;
    }

    .shopify_subscriptions_app_block .shopify_subscriptions_app_block_label {
        border-radius: 28px !important;
        border: 1px solid #004E42 !important;
        background-color: #FFFCF1;
        cursor: pointer;
    }

    .shopify_subscriptions_app_block_label_children label {
        display: flex;
        align-items: center;
    }

    .shopify_subscriptions_app_block_label_children label p {
        margin: 0;
    }

    .shopify_subscriptions_app_block_label_children label > .metafield-rich_text_field {
        font-size: 14px;
        font-weight: 500;
    }

    .shopify_subscriptions_app_block_label_children label .discount-text .metafield-rich_text_field p {
        font-size: 10px;
    }

    .shopify_subscriptions_app_block_label_children label .discount-text {
        padding: 6px;
        background-color: #FAED9E;
        border-radius: 14px;
        margin-left: 50px;
    }

    .shopify_subscriptions_app_block_label_children li {
        border: 0px solid #000;
    }

    .shopify_subscriptions_app_block_label_children li > .metafield-rich_text_field {
        font-size: 14px;
        color: #004E42;
        margin-top: 15px;
    }

    .shopify_subscriptions_app_block_label_children li > .metafield-rich_text_field ul li {
        position: relative;
        font-family: 'Figtree';
    }

    .shopify_subscriptions_app_block_label_children .more-info li::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.874' height='16.874' viewBox='0 0 16.874 16.874'%3E%3Cg transform='translate(-213.248 -1229.248)'%3E%3Cg transform='translate(213.998 1229.998)'%3E%3Cpath d='M19.874,12.187a7.687,7.687,0,1,0-7.687,7.687A7.689,7.689,0,0,0,19.874,12.187Z' transform='translate(-4.5 -4.5)' fill='none' stroke='%23004e42' stroke-width='1.5'/%3E%3Cpath d='M19.707,12.375l-5.92,7.047L11.25,16.6' transform='translate(-7.791 -8.212)' fill='none' stroke='%23004e42' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .shopify_subscriptions_app_block_label_children .more-info .metafield-rich_text_field ul li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .shopify_subscriptions_app_block_label_children .more-info .metafield-rich_text_field ul {
        padding-left: 25px;
    }

    .shopify_subscriptions_purchase_option_wrapper label input {
        accent-color: #004E42;
    }

    .shopify_subscriptions_purchase_option_wrapper:not(.shopify_subscriptions_app_block_label) > label {
        background-color: #FFFCF1;
        color: var(--text-color);
    }

    .shopify_subscriptions_app_block_label input[type=radio]:checked:before {
        background: #004E42;
    }

    .shopify_subscriptions_fieldset .shopify_subscriptions_app_block_label input[type=radio]:checked {
        border-color: #004E42 !important;
    }

    #MainContent .shopify-section:first-child {
        background: transparent linear-gradient(197deg, #fef8d2 0%, #fffdf6 100%) 0% 0% no-repeat padding-box;
    }

    #MainContent .wrapper-spacing--h {
        padding-left: 0;
        padding-right: 0;
    }
</style>

<style>
    {{ block.settings.custom_css }}
</style>


{% schema %}
{
  "name": "Default widget",
  "target": "section",
  "enabled_on": {
    "templates": [
      "product",
      "page"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:settings.description"
    },
    {
      "type": "header",
      "content": "t:settings.colors_title"
    },
    {
      "type": "color",
      "id": "color_text_title",
      "label": "t:settings.colors_text_title",
      "default": "#6D7175"
    },
    {
      "type": "color",
      "id": "color_text_body",
      "label": "t:settings.colors_text_body",
      "default": "#6D7175"
    },
    {
      "type": "color",
      "id": "dividers_color",
      "label": "t:settings.colors_dividers",
      "default": "#8F8D8D"
    },
    {
      "type": "color",
      "id": "bacgkround_color",
      "label": "t:settings.colors_background",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:settings.border_title"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "t:settings.border_thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:settings.border_radius",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:settings.supporting_text_title"
    },
    {
      "type": "text",
      "id": "supporting_text_title",
      "label": "t:settings.supporting_text_subtitle",
      "default": "Purchase options",
      "placeholder": "t:settings.supporting_text_input_default"
    },
    {
      "type": "header",
      "content": "t:settings.subscription_policy_title"
    },
    {
      "type": "url",
      "id": "subscription_policy_url",
      "label": "t:settings.subscription_policy_url",
      "info": "t:settings.subscription_policy_url_info"
    },
    {
      "type": "header",
      "content": "t:settings.product_title"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:settings.product_title",
      "info": "t:settings.product_description",
      "autofill": true
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "custom css"
    },
  ]
}
{% endschema %}
